

body {
    background-color: #ff824a;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
}

h1 {
    padding: 30px;
    border: 10px solid #fea887 ;
    border-radius: 15px;
    box-shadow: inset;
}

#time {
    font-size: 80px;
}

button {
    background-color: #ff824a;
    font-family: 'Fuzzy Bubbles', cursive;
    color:azure;
    font-size: 50px;
    margin-left: 50px;
    border: 7px solid #fea887;
    border-radius: 10px;
}






